{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

  <h1>Visualizzatore di Molecole</h1>
  <img id="molecola-img" src="" alt="Molecola selezionata">

  <table id="tabella-molecole">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Formula</th>
      </tr>
    </thead>
    <tbody>
      {% for mol in molecole %}
        <tr data-id="{{ mol.id }}">
          <td>{{ mol.nome }}</td>
          <td>{{ mol.formula }}</td>
        </tr>
      {% empty %}
      <tr><td colspan="2">Nessuna molecola trovata</td></tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="{% static 'js/dashboard.js' %}" defer></script>

</body>
</html>
