.tabbar-extended {
  position: relative;
  /* Larghezza pulsante + margine */
  --actions-w: 9rem;
  /* Larghezza “zona frecce” del TabView (di solito ~5rem) */
  --arrows-w: 5.5rem;
}


.tabbar-actions {
  position: absolute;
  right: 0;       /* va proprio in fondo */
  top: .25rem;
  z-index: 2;
}

.p-tabview-nav-container{
  max-width: 80%;
}

.p-tabview-nav-content{
  max-width: 90%;
}


.p-tabview-panels{
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.p-tabview-panel{
  display: flex;
  flex-direction: column;
  min-height: 0;
}